@import url("grid.css");
@import url("image.css");
@import url("nav.css");

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.6em;
  background-size: cover;
  background: ../images/keyboard.png no-repeat center;
}
/*div {
  color: white;
}*/

h1, h2 {
  color: #0e0e11;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}



.special {
  color: #501717;
}

.highlight {
  color: blue;
}

.guarantee {
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;

  background-color: #7ec5c5;
  background-repeat: no-repeat;



  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;

}





