.container {
  display: grid;
  grid-template-columns: 5% 88% 5%;
  grid-gap: 1%;
}

#header {
  grid-column-start: 2;
  grid-column-end: span 2;
  text-align: center;
}

#navigation {
  grid-column-start: 2;
  text-align: center;
  border-bottom: 2px solid black;
}

#main {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 95% 5%;
  grid-gap: 3%;
}
#maincontent {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3%;
}
#maincontent2 {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16%;
  grid-gap: 3%;
}
#maincontent3 {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 3%;
}

#primary {
  grid-column-start: 1;
}
#primary2 {
  grid-column-start: 1;
}

#secondary {
  grid-column-start: 2;
}
#secondary2 {
  grid-column-start: 3;
}

#secondary {
  grid-column-start: 2;
}
#third {
  grid-column-start: 3;
}
#fourth {
  grid-column-start: 4;
}
#fifth {
  grid-column-start: 5;
}
#sixth {
  grid-column-start: 6;
}
#footer {
  grid-column-start: 1;
}
